h1, h2, h3, h4, h5, h6 {
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    font-family: "IBM Plex Serif", serif;
    margin: 0px;
    height: 100svh;
}

code {
    font-family: "IBM Plex Mono", monospace;
}